/************* IMPOSTAZIONI GENERALI *************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 1000;
    font-size: 1.3rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center; 
}

p {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
}
/************* HEADER *************/

header {
    padding-top: 0.5rem;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.nav-bar {
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.nav {
    padding: 5px;
}

.nav-center {
    flex-grow: 2;
    text-align: center;
}

.nav-center > a {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.nav-right {
    text-align: end;
}

.primo-riquadro {
    min-height: 20rem;
    margin-top: 0.5rem;
    padding: 0 20%;
    align-items: center;
}

.quadrato-viola {
    margin: 0.5rem 0;
}

.quadrato-viola > h1 {
    color: white;
}

.quadrato-viola > p {
    color: white;
}

.download {
    text-align: center;
    width: 100%;
}

#download-mac {
    color: black;
}

#apertura-browser {
    background-color: black;
    color: white;
    margin-left: 2rem;
}

/***************** MAIN *****************/

.box {
    justify-content: center;
    align-items: center;
    padding: 1rem 10%;
}

.wave-img {
    background-size: cover;
    width: 100%;
    opacity: 0.1;
    transform: translate(0px, 4px);
}

.wave-img-rotate {
    transform: rotate(180deg);
    background-size: cover;
    width: 100%;
    opacity: 0.1;
}

/***************** MAIN / BLOCCHI SUCCESSIVI AL PRIMO *****************/

.reverse {
    flex-direction: row-reverse;
    background-color: #e5e5e5;
}

.quadrato-verde {
    margin: 0.5rem 0;
}

.quadrato-verde > img {
    width: 100%;
}

.con-sfondo {
    background-image: url(../img/stars.svg);
    margin: 0 15rem;
    background-size: cover;
}

 .quadrato-verde a {
    background-color: rgba(114,137,218,255);
    color: white;
    margin-top: 1.5rem;
}

/***************** FOOTER *****************/

footer {
    background-color: rgb(36, 36, 36);
}

.ultimo-riquadro {
    /* min-height: 20rem; */
    padding: 4rem 10% 1rem 10%;
    align-items: flex-start;

}

.colonna-large {
    min-width: 30% ;
}

.colonna-large > h2 {
    color: rgba(114,137,218,255);
    font-size: 2.5rem;
}

.colonna-large > a {
    margin: 0.5rem;
    color: white;
}

.second-part {
    align-items: flex-start;
    width: 100%;
}

.colonna-small {
    min-width: 25%;
}

.colonna-small > h3 {
    color: rgba(114,137,218,255);
}

.colonna-small > a {
    display: block;
    margin: 1rem 0;
    color: white;
    text-decoration: none;
}

.end-bar {
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-top: 2px solid white;
    padding-top: 1rem;
}

.end-bar a:nth-child(2) {
    background-color: rgba(114,137,218,255);
    color: white;
}

/***************** MENù TENDINA *****************/

.logo-ita {
    max-width: 10%;
}

span {
    color: white;
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

#hormenu {
    margin: 1rem 0;
    }

div#hormenu ul {
    list-style-type: none;
}

div#hormenu a
{
display: block;
padding: 5px;
color: #000;
text-decoration: none;
}

div#hormenu a:hover
{
background-color: #000033;
color: #FFFFFF;
text-decoration: none;
}

div#hormenu li ul
{
display: none
}

div#hormenu li:hover ul
{
display: block;
position: absolute;
z-index:1;
width:150px;
padding: 0;
margin: 0 0 0 -1px;
border:1px solid black;
background: white;
}

div#hormenu li li { border:none; width:150px; }
div#hormenu li li a { padding:2px 2px 2px 10px; }